.home {
    padding: 1em;
    margin: 2em;

    border-radius: 5px;
    border: 1px solid #b9bbbe;
}

.home p {
    color: #b9bbbe;
    font-size: 20px;
    margin: 0;
    margin-bottom: 0.4em;
}

.home p.intro {
    font-size: 24px;
}

.home img {
    float: right;
    height: 170px;

    border: 2px solid #202225;
    border-radius: 5px;
}