.credential {
    padding: 1em;
    margin: 2em;
}

.credential .cat {
    margin: 0;
    padding-bottom: 0.5em;
    padding-top: 1em;
    font-size: 24;
    color: #f8f8ff;
}

.credential .text {
    font-size: 20px;
    color: #b9bbbe;
}

.credential .text .date {
    margin: 0 0.5em;
    color: #f8f8ff;
}

.credential .download {
    text-decoration: none;
}

.credential .download p {
    margin: 0;
    margin-left: 1em;
    width: fit-content;
    border-radius: 5px;
    border: solid 1px #b9bbbe;
    padding: 0.5em;
    color: #b9bbbe;
    font-size: 20px;
    text-decoration: none;
}

.credential .download p img {
    height: 20px;
    filter: invert(90%) sepia(7%) saturate(100%) hue-rotate(177deg) brightness(83%) contrast(91%);
}

.credential .download p:hover {
    border: solid 1px #f8f8ff;
    color: #f8f8ff;
}

.credential .download p:hover img {
    filter: invert(85%) sepia(9%) saturate(2004%) hue-rotate(195deg) brightness(118%) contrast(103%);
}